html {
	height: 100%
}

body {
	height: 100%;
	margin: 0;
	padding: 0
}

#map-window {
	height: 100%;
}

.content {
	height: 98%;
}

#map-canvas {
	height: 90%;
	width: 100%; 
}

#map_canvas img {
	max-width: none;
}