html {
	height: 100%
}

body {
	height: 100%;
	margin: 0;
	padding: 0
}

#map-window {
	height: 100%;
	padding: 0;
	width: 100%;
}

#map-window .header {
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

#map-window .content {
	height: 100%;
	padding: 0;
	width: 100%;
}

#map-canvas {
	height: 100%;
	padding: 0;
	width: 100%; 
}

#map_canvas img {
	max-width: none;
}